@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*, *::before, *::after {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}



.btn {
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background: #2c2c2c;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.outline {
    color: #000000;
    background: none;
    border: 1px solid #2c2c2c;
  }
}

@import './components/App.scss';
@import './components/List.scss';
@import './components/Modal.scss';
@import './components/ProgramForm.scss';
@import './components/Input.scss';